section {
    position: relative;
    isolation: isolate;
    padding: 2rem 2.5rem;
    background-color: var(--slide-clr-bg);
    color: var(--slide-clr-fg);
    font-family: "Inter", sans-serif;
    font-size: 30px;
    line-height: 1.5;

    img {
        max-width: 100%;
    }

    h1 {
        position: relative;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        margin-block-end: 2rem;

        &::after {
            content: "";
            position: absolute;
            width: 1.5em;
            height: 0.1em;
            background-color: var(--slide-clr-accent);
            inset-inline-start: 0;
            inset-block-start: 1.5em;
            transform: translateY(-50%);
        }
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--slide-clr-accent);
    }

    a {
        color: var(--slide-clr-accent);
    }

    footer {
        position: absolute;
        height: 4rem;
        inset-inline: 0;
        inset-block-end: 0;
        padding-inline: 2.5rem;
        padding-block-start: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 0.75;
        font-size: 0.75rem;
    }

    hr {
        border: none;
        height: 0.1rem;
        background-color: currentColor;
        opacity: 0.4;
    }

    blockquote {
        margin-inline: 0;
        padding-inline-start: 1rem;
        position: relative;
        opacity: 0.8;

        &::before {
            content: "";
            position: absolute;
            inset-block: 0;
            inset-inline-start: 0;
            width: 0.25rem;
            border-radius: 100vmax;
            background-color: currentColor;
            opacity: 0.6;
        }
    }

    table {
        --border: 0.1rem;
        border-collapse: collapse;
        text-align: center;
        position: relative;
        isolation: isolate;
        margin: calc(var(--border) / 2);

        &::before,
        td::before,
        th::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            opacity: 0.4;
        }

        &::before {
            outline: calc(var(--border) / 2) solid currentColor;
        }

        td,
        th {
            padding-inline: 0.5rem;
            position: relative;
            isolation: isolate;

            &::before {
                border: calc(var(--border) / 2) solid currentColor;
            }
        }

        tbody tr:nth-child(2n) td::after {
            content: "";
            position: absolute;
            inset: calc(var(--border) / 2);
            background-color: currentColor;
            opacity: 0.1;
        }
    }

    &.title {
        display: grid;
        place-content: center start;
        gap: 1rem;

        h1 {
            margin: 0;
            font-size: 2rem;
        }

        p {
            margin: 0;
        }
    }

    &.part-title {
        display: grid;
        place-content: center start;
    }
}
