section {
    .bg-website {
        position: absolute;
        inset: 0;
        z-index: -1;
        isolation: isolate;

        iframe {
            position: absolute;
            inset: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            border: none;
            cursor: inherit;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            cursor: inherit;
        }
    }

    .browser {
        --scroll: 0px;
        position: relative;
        min-height: 200px;
        box-shadow: 0 0 0 2px var(--clr-shade-headerbar);
        border-radius: 14px;
        overflow: hidden;
        background-color: white;
        isolation: isolate;

        iframe {
            position: absolute;
            border: none;
            width: 100%;
            height: calc(100% - 47px + var(--scroll));
            overflow-y: hidden;
            inset-block-start: calc(47px - var(--scroll));
            cursor: inherit;
            z-index: -2;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            cursor: inherit;
        }

        div {
            height: 47px;
            background-image: var(--browser-left), var(--browser-right), var(--browser-center);
            background-position: top left, top right, top center;
            background-repeat: no-repeat, no-repeat, repeat-x;
        }

        img {
            display: block;
            box-sizing: border-box;
            position: absolute;
            inset-block-start: 23px;
            inset-inline-start: 292px;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            object-fit: contain;
            background-color: var(--browser-color);
            box-shadow: 0 0 0 6px var(--browser-color);
        }

        span {
            display: block;
            position: absolute;
            inset-block-start: 23px;
            inset-inline-start: 315px;
            transform: translateY(-50%);
            font-size: 14px;
        }
    }
}
